{% comment %}
  Foot massager addon product selector card.
  Accepts:
  - product: {Object}
  - block: {Object}
  - product_form_id: {String}
  - section_id: {String}
{% endcomment %}
{%- assign addon_product = block.settings.addon_product -%}
{%- if addon_product != blank and addon_product.available -%}
  {%- assign variant = addon_product.selected_or_first_available_variant -%}
  <div class="mpf-bundle" data-bundle-selector {{ block.shopify_attributes }}>
    {%- if block.settings.heading != blank -%}
      <p class="mpf-bundle__heading">{{ block.settings.heading }}</p>
    {%- endif -%}

    <fieldset class="mpf-bundle__options">
      <legend class="visually-hidden">{{ block.settings.heading | default: 'Add-on options' }}</legend>

      {%- liquid
        assign thumb_image = variant.featured_image | default: addon_product.featured_image
        
        assign has_discount = false
        if variant.compare_at_price > variant.price
          assign has_discount = true
        endif

        if settings.currency_code_enabled
          assign money_price = variant.price | money_with_currency
          assign money_compare = variant.compare_at_price | money_with_currency
        else
          assign money_price = variant.price | money
          assign money_compare = variant.compare_at_price | money
        endif
      -%}

      <label class="mpf-bundle__option">
        <input
          type="checkbox"
          name="addon-variant-{{ section_id }}"
          id="BundleVariant-{{ section_id }}-{{ variant.id }}"
          value="{{ variant.id }}"
          class="mpf-bundle__input visually-hidden"
          data-addon-checkbox
          form="{{ product_form_id }}"
        >
        <span class="mpf-bundle__check" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"/></svg>
        </span>

        {%- if thumb_image != blank -%}
          {{ thumb_image | image_url: width: 120 | image_tag: class: 'mpf-bundle__thumb', alt: variant.title, loading: 'lazy', widths: '60, 120' }}
        {%- else -%}
          <span class="mpf-bundle__thumb mpf-bundle__thumb--placeholder" aria-hidden="true"></span>
        {%- endif -%}

        <span class="mpf-bundle__content">
          <span class="mpf-bundle__title">{{ addon_product.title }}</span>
          {%- if block.settings.subtitle != blank -%}
            <span class="mpf-bundle__subtitle">{{ block.settings.subtitle }}</span>
          {%- endif -%}
          <span class="mpf-bundle__prices">
            <span class="mpf-bundle__price">{{ money_price }}</span>
            {%- if has_discount -%}
              <span class="mpf-bundle__compare">{{ money_compare }}</span>
            {%- endif -%}
          </span>
        </span>
      </label>
    </fieldset>
  </div>
{%- endif -%}

